
<!-- Load a component -->
<%- include('statics/header') -%>

<main>
    <!-- Check url to dsiplay the correct edit form -->
    <% if( url.indexOf('post') !== -1 ) {%>
        <h2>Modifier l'article</h2>
        <%- include('components/form-post') -%>
    <% } %>
</main>

<!-- Load a component -->
<%- include('statics/footer') -%>