<!-- Load a component -->
<%- include('statics/header') -%>

<main>
  <!-- Create a component to display post list -->
  <%- include('components/list-post') -%>
</main>

<!-- Load a component -->
<%- include('statics/footer') -%>
