<form action="<%- url %>" method="POST">
    <label for="title">Titre</label>
    <input type="text" name="title" minlength="5" required value="<%- data.title %>">

    <label for="content">Contenu</label>
    <textarea name="content" minlength="5" required ><%- data.content %></textarea>

    <button type="submit">Ajouter</button>
</form>