<form action="<%- url %>" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" minlength="5" required value="julien@dwsapp.io">

    <label for="firstname">Prénom</label>
    <input type="text" name="firstname" minlength="2" required value="Julien">

    <label for="lastname">Nom</label>
    <input type="text" name="lastname" minlength="2" required value="Noyer">

    <label for="password">Mot de passe</label>
    <input type="text" name="password" minlength="2" required value="azertyuiop">

    <button type="submit">Inscription</button>
</form>