<form action="<%- url %>" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" minlength="5" required value="julien@dwsapp.io">

    <label for="password">Mot de passe</label>
    <input type="text" name="password" minlength="2" required value="azertyuiop">

    <button type="submit">Connexion</button>
</form>