<form action="/comment/<%- data._id %>" method="POST">
    <label for="comment">Ajouter votre commentaire</label>
    <textarea name="content" required minlength="5" placeholder="Min. 5 caractères"></textarea>
    
    <button type="submit">Commenter</button>
</form>