<h2>List des articles</h2>
<ul>
    <% for( let item of data ) { %>
        <li>
            <ul>
                <li><%- item.title %></li>
                <li>
                    <a href="/post/delete/<%- item._id %>">Supprimer</a> 
                    <a href="/post/edit/<%- item._id %>">Modifier</a>
                    <a href="/post/<%- item._id %>">Afficher</a>
                </li>
            </ul>
        </li>
    <% } %>
</ul>