<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Backoffice API NodeJS</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    </head>
    <body>
        <header>
            <h1>Backoffice API NodeJS</h1>
            <% if( url !== '/login' ) { %>
                <nav>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/register">Inscription</a></li>
                        <li><a href="/post/create">Ajouter un article</a></li>
                    </ul>
                </nav>
            <% } %>
        </header>
